{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <div class="col-sm-12 ">
        <h3 class="text-muted my-5">About Page</h3>
        <div class="jumbotron jumbotron-fluid  jumbo-color">
            <div class="container">
                <h1 class="display-4 font-weight-bold">About Page</h1>
                <p class="lead">
                    , iste laborum libero minima, nam nihil nisi odit perferendis quae quasi
                    quibusdam quis ratione repudiandae sint sit vel veniam! Magnam, reprehenderit.
                </p>
                <hr class="my-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, commodi dolor ipsa officiis
                    quas soluta velit. Dolores earum facilis suscipit. Accusamus aliquam assumenda at beatae, corporis
                    dolores dolorum expedita, fuga harum illum impedit in inventore minima minus necessitatibus nihil
                    nulla porro quam quasi qui quia rem ullam vel veritatis vero.</p>
            </div>
        </div>
    </div>
{% endblock content %}
