{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <div class="col-sm-12 ">
        <h3 class="text-muted my-5">Signup Page</h3>
        <div class="jumbotron jumbotron-fluid  jumbo-color">
            <div class="container">
                <h1 class="display-4 font-weight-bold">Signup Page</h1>

                <form action="" method="post">{# novalidate #}
                    {% csrf_token %}
{#                {{ form.as_p }}#}
                    {% for fm in form %}
                        <div class="form-group">
                            {{ fm.label_tag }} {{ fm }} <small class="text-warning"> {{ fm.errors|striptags }}</small>
                        </div>
                    {% endfor %}
{#                    <input type="submit" value="Submit" class="btn btn-primary">#}
                    <button type="submit" class="btn btn-primary">送出</button>
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger my-3"><small>{{ error.errors }}</small></p>
                        {% endfor %}
                    {% endif %}


                </form>
            </div>
        </div>
    </div>
{% endblock content %}
